///
/// Center a Block Element Horizontally or Vertically
/// This mixin makes your life when centering block elements a cake
/// you just need to define true or false depending on the centering you need
/// The parent element should have the position set to relative
///
/// @author Christ Coyer codepen 
///
/// @example center foo 
/// 
/// .foo {
///		@include center;
///
///     &.horizontal {
///			@include center(true, false);
///			
///		}
///
///		&.vertical {
///		@include center (false, true);
///    }
///		
/// }


@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);

  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

