/* Variables 
 *========================
 *
 *
 *Boiler-Nude Configuration
 
 /*Structure*/
 
$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px; 


//Breakpoints 
$mobile: $x-small;
$desktop: $medium;

//colors
$background:#fff;
$primary-color: #C59A6E;
$secondary-color: #EAE9E4;
$font-color:#02020a;
$accent-color: #3a506b;
$background-secondary: #e8e6e8;
$link-color: $primary-color;
$link-hover-color:$accent-color;
$highlight-color: #1c2541;





 
 

